{{template "shared/base.layout.tmpl" .}}

{{define "title"}}{{.Data.ConnProfile.Settings.Connection.ID}} | Connection profiles | Internet Access {{end}}
{{define "description"}}Manage network connection profile{{end}}
{{define "mode"}}advanced{{end}}

{{define "content"}}
  {{$id := .Data.ConnProfile.Settings.Connection.ID}}
  {{$conn := .Data.ConnProfile.Settings.Connection}}
  {{$internetPagePath := print (dir (dir .Meta.Path)) "?mode=advanced"}}

  <main class="main-container" tabindex="-1" data-controller="default-scrollable">
    <nav class="breadcrumb main-breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{.Meta.BasePath}}?mode=advanced">Admin</a></li>
        <li><a href="{{$internetPagePath}}" aria-current="page">Internet</a></li>
        <li><a href="{{$internetPagePath}}#
          {{- if eq $conn.Type.Info.Short "wifi" -}}
            wifi
          {{- else if eq $conn.Type.Info.Short "ethernet" -}}
            ethernet
          {{- else -}}
            other
          {{- end -}}
          -connection-profiles" aria-current="page">
          Connection profiles
        </a></li>
        <li class="is-active"><a href="{{.Meta.Path}}" aria-current="page">{{$id}}</a></li>
      </ul>
    </nav>

    <section class="section content">
      <h1>Connection profile: {{$id}}</h1>
      <p>
        You can <a href="/admin/fs-su/files{{.Data.ConnProfile.Filename}}" target="_blank">view and edit this file</a>
        directly using the system file manager. TODO: detect if it's a symbolic link into somewhere
        in /run or /var/run, and if so, add a warning that direct edits to the file won't be
        persisted across reboots; instead, such a file will need to be configured using Forklift
        through feature flags in the appropriate package deployments in the "OS" section of the
        Machine Administration panel.
      </p>
      <h2>Activation</h2>
      <p>
        Status:
        {{if not .Data.Active}}
          {{/*i.e. .Data.Active is nil*/}}
          <span class="tag is-warning">unknown</span>
        {{else if not .Data.Active.HasData}}
          <span class="tag is-info">inactive</span>
        {{else}}
          <span class="tag is-success">active</span> on {{.Data.Active.DeviceInterfaces | join ", "}}
        {{end}}
      </p>
      <p>TODO: if active, display some more info about the active connection</p>
      <div class="field is-grouped">
        <div class="control">
          <form
            action="{{.Meta.BasePath}}internet/connection-profiles"
            method="POST"
            data-controller="form-submission"
            data-action="submit->form-submission#submit"
            data-form-submission-target="submitter"
            class="mt-4 mb-3"
          >
            <input type="hidden" name="state" value="reloaded">
            <input type="hidden" name="redirect-target" value="{{.Meta.Path}}">
            <input
              class="button is-primary"
              type="submit"
              value="Reload all profiles"
              data-form-submission-target="submit"
            >
          </form>
        </div>
        <div class="control">
          <form
            action="{{.Meta.Path}}"
            method="POST"
            data-controller="form-submission"
            data-action="submit->form-submission#submit"
            data-form-submission-target="submitter"
            class="mt-4 mb-3"
          >
            <input type="hidden" name="state" value="activated-transiently">
            <input type="hidden" name="redirect-target" value="{{.Meta.Path}}">
            <input
              class="button is-primary"
              type="submit"
              value="{{if .Data.Active.HasData}}Reactivate profile{{else}}Activate profile until next boot{{end}}"
              data-form-submission-target="submit"
            >
          </form>
        </div>
      </div>
    </section>

    <section class="section content">
      <h2>Connection</h2>
      <p>
        ID:
        {{if $conn.ID}}
          {{$conn.ID}}
        {{else}}
          <span class="tag is-error">none</span>
        {{end}}
      </p>
      <p>
        UUID:
        {{if $conn.UUID.String}}
          {{$conn.UUID.String}}
        {{else}}
          <span class="tag is-error">none</span>
        {{end}}
      </p>
      {{if $conn.StableID}}
        <p>Stable ID: {{$conn.StableID}}</p>
      {{end}}
      <p>
        Type:
        {{if $conn.Type}}
          {{if eq $conn.Type.Info.Short $conn.Type}}
            {{$conn.Type}}
          {{else}}
            <abbr title="{{$conn.Type}}">{{$conn.Type.Info.Short}}</abbr>
          {{end}}
        {{else}}
          <span class="tag is-error">none</span>
        {{end}}
      </p>
      <p>
        <abbr title="the interface which this connection is allowed for">Network interface</abbr>:
        {{if $conn.InterfaceName}}
          <a href="{{$internetPagePath}}#device-{{$conn.InterfaceName}}" target="_top">{{$conn.InterfaceName}}</a>
        {{else}}
          <span class="tag is-info">any appropriate interface</span>
        {{end}}
      </p>
      <p>
        <abbr title="when the connection was last successfully fully activated">Last activated:</abbr>
        {{if $conn.Timestamp.IsZero}}
          <span class="tag is-info">never, or unknown</span>
        {{else}}
          <abbr title="at {{dateInZone "2006-01-2 15:04 MST" $conn.Timestamp "UTC"}}">
            {{durationRound (ago $conn.Timestamp)}} ago
          </abbr>
        {{end}}
      </p>
      <p>
        <abbr title="firewall trust level">Zone</abbr>:
        {{if and ($conn.Zone) (not (eq $conn.Zone "NULL"))}}
          {{$conn.Zone}}
        {{else}}
          <span class="tag is-info">the firewall's default zone</span>
        {{end}}
      </p>
      <!--
      <p>
        <abbr title="number of retries for authentication before giving up">Auth retries</abbr>:
        {{if eq $conn.AuthRetries -1}}
          <span class="tag is-info"><abbr title="if not set, defaults to 3 times">global default</abbr></span>
        {{else if eq $conn.AuthRetries 0}}
          <span class="tag is-info">indefinitely</span>
        {{else}}
        {{end}}
      </p>
      -->
      <h3>Autoconnect</h3>
      <p>
        Enabled:
        {{if $conn.Autoconnect}}
          yes
        {{else}}
          no
        {{end}}
      </p>
      <p>
        <abbr title="higher-priority profiles are preferred; when two profiles have equal priority, the most-recently used profile is chosen">
          Priority
        </abbr>:
        {{$conn.AutoconnectPriority}}
      </p>
      <p>
        <abbr title="total number of times to try autoconnecting before giving up">Retries</abbr>:
        {{if eq $conn.AutoconnectRetries -1}}
          <span class="tag is-info"><abbr title="if not set, defaults to 4 times">global default</abbr></span>
        {{else if eq $conn.AutoconnectRetries 0}}
          <span class="tag is-info">indefinitely</span>
        {{else}}
          <span class="tag is-info">{{$conn.AutoconnectRetries}}</span>
        {{end}}
      </p>
    </section>

    {{if eq $conn.Type "802-11-wireless"}}
      <section class="section content">
        <h2>Wi-Fi</h2>
        <h2>Wi-Fi Security</h2>
      </section>
    {{end}}

    <section class="section content">
      <h2>IPv4</h2>
        {{$ipv4 := .Data.ConnProfile.Settings.IPv4}}
        <p>Addresses:</p>
        <ul class="mt-0">
          {{range $ipAddress := $ipv4.Addresses}}
            <li>
              <p><span class="tag ip-address">{{$ipAddress.Prefix.Addr}}</span></p>
              {{if not $ipAddress.Prefix.IsSingleIP}}
                <p>
                  <abbrev title="space of addresses assignable to devices on the network">Subnet</abbrev>:
                  <span class="tag ip-subnet">{{$ipAddress.Prefix.Masked}}</span>
                </p>
              {{end}}
              {{range $key, $value := $ipAddress.Attributes}}
                <p>
                  {{title $key}}:
                  {{if isIPAddr $value}}
                    <span class="tag ip-address">{{$value}}</span>
                  {{else}}
                    {{$value}}
                  {{end}}
                </p>
              {{end}}
            </li>
          {{else}}
            <li><span class="tag is-abbrev">none</span></li>
          {{end}}
        </ul>
      <h2>IPv6</h2>
        {{$ipv6 := .Data.ConnProfile.Settings.IPv6}}
        <p>Addresses:</p>
        <ul class="mt-0">
          {{range $ipAddress := $ipv6.Addresses}}
            <li>
              <p><span class="tag ip-address">{{$ipAddress.Prefix.Addr}}</span></p>
              {{if not $ipAddress.Prefix.IsSingleIP}}
                <p>
                  <abbrev title="space of addresses assignable to devices on the network">Subnet</abbrev>:
                  <span class="tag ip-subnet">{{$ipAddress.Prefix.Masked}}</span>
                </p>
              {{end}}
              {{range $key, $value := $ipAddress.Attributes}}
                <p>
                  {{title $key}}:
                  {{if isIPAddr $value}}
                    <span class="tag ip-address">{{$value}}</span>
                  {{else}}
                    {{$value}}
                  {{end}}
                </p>
              {{end}}
            </li>
          {{else}}
            <li><span class="tag is-abbrev">none</span></li>
          {{end}}
        </ul>
    </section>
  </main>
{{end}}
