{{template "shared/base.layout.tmpl" .}}

{{define "title" -}}
  Home
{{- end}}
{{define "description"}}Machine system settings{{end}}

{{define "content"}}
  <main>
    <section class="section content">
      <div class="container">
        <h1>Machine Administration</h1>
        <p>
          Welcome! Here you can adjust system-level settings for your machine's operating system.
        </p>
        <p>
          Specific pages are available to configure settings for various functionalities:
        </p>
        <ul>
          <li>
            <a href="{{(urlJoin (dict
              "path" (print .Meta.BasePath "internet")
              "query" .Meta.Form.Encode
            ))}}"><strong>Internet Access</strong></a>:
            connect your machine to the internet.
          </li>
          <li>
            <a href="{{(urlJoin (dict
              "path" (print .Meta.BasePath "remote")
              "query" .Meta.Form.Encode
            ))}}"><strong>Remote Access</strong></a>:
            make your machine available for remote assistance or remote access.
          </li>
          <li>
            <a href="{{(urlJoin (dict
              "path" (print .Meta.BasePath "storage")
              "query" .Meta.Form.Encode
            ))}}"><strong>Storage Drives</strong></a>:
            manage any attached USB drives and hard drives.
          </li>
        </ul>

        <h2>About this machine</h2>
        <h3>Version</h3>
        <div class="table-container">
          <table class="table is-hoverable">
            <tbody>
              <tr>
                <th>
                  <abbr title="the originally installed (i.e. factory-reset) operating system">
                    Originally installed
                    {{- /* make template ignore the line break */ -}}
                  </abbr>
                </th>
                <td>
                  {{if .Data.ForkliftVersioning.Factory}}
                    {{.Data.ForkliftVersioning.Factory}}
                  {{else}}
                    <span class="tag is-warning">unknown</span>
                  {{end}}
                </td>
              </tr>
              <tr>
                <th>
                  <abbr title="the currently running operating system">
                    Currently booted
                    {{- /* make template ignore the line break */ -}}
                  </abbr>
                </th>
                <td>
                  {{if .Data.ForkliftVersioning.Current}}
                    {{.Data.ForkliftVersioning.Current}}
                  {{else}}
                    <span class="tag is-warning">unknown</span>
                  {{end}}
                </td>
              </tr>
              <tr>
                <th>
                  <abbr title="the current version-controlled configuration of the operating system">
                    Local pallet
                    {{- /* make template ignore the line break */ -}}
                  </abbr>
                </th>
                <td>
                  {{if .Data.ForkliftVersioning.Pallet}}
                    {{.Data.ForkliftVersioning.Pallet}}
                  {{else}}
                    <span class="tag is-warning">unknown</span>
                  {{end}}
                </td>
              </tr>
              <tr>
                <th>
                  <abbr title="where the operating system will check for system upgrades">
                    Update source
                    {{- /* make template ignore the line break */ -}}
                  </abbr>
                </th>
                <td>
                  {{if .Data.ForkliftVersioning.UpgradeSource}}
                    {{.Data.ForkliftVersioning.UpgradeSource}}
                  {{else}}
                    <span class="tag is-warning">unknown</span>
                  {{end}}
                </td>
              </tr>
              {{if .Data.ForkliftVersioning.Upgrade}}
                <tr class="is-info">
                  <th>Update available</th>
                  <th>
                    <abbr title="a new published version which the operating system can be upgraded to">
                      Update available
                      {{- /* make template ignore the line break */ -}}
                    </abbr>
                  </th>
                  <td>{{.Data.ForkliftVersioning.Upgrade}}</td>
                </tr>
              {{end}}
            </tbody>
          </table>
        </div>
        <h3>Access</h3>
        <div class="table-container">
          <table class="table is-hoverable">
            <tbody>
              <tr>
                <th>
                  <abbr title="a statistically unique name corresponding to the statistically unique serial number of your machine's embedded computer">
                    Machine name
                    {{- /* make template ignore the line break */ -}}
                  </abbr>
                </th>
                <td>
                  <span class="tag scoped-name">{{.Data.MachineName}}</span>
                </td>
              </tr>
              <tr>
                <th>
                  <abbr title="your machine's self-declared name for computer networking">
                    Hostname
                    {{- /* make template ignore the line break */ -}}
                  </abbr>
                </th>
                <td>
                  <span class="tag scoped-name">{{.Data.Hostname}}</span>
                </td>
              </tr>
              <tr>
                <th>
                  <abbr title="your machine's .local domain name in local area networks">
                    mDNS domain name
                    {{- /* make template ignore the line break */ -}}
                  </abbr>
                </th>
                <td>
                  <span class="tag domain-name">{{.Data.Hostname}}.local</span>
                </td>
              </tr>
              {{if not (eq .Data.TailscaleDNS "")}}
                <tr>
                  <th>
                    <abbr title="the domain name of your machine within the Tailscale remote-access network">
                      Remote-access domain name
                      {{- /* make template ignore the line break */ -}}
                    </abbr>
                  </th>
                  <td>
                    <span class="tag domain-name">{{trimSuffix "." .Data.TailscaleDNS}}</span>
                  </td>
                </tr>
              {{end}}
            </tbody>
          </table>
        </div>

        <h2>Boot</h2>
        <p>
          A soft reboot speeds up the reboot process by leaving the OS kernel running, while
          a full reboot includes a full restart of the kernel and hardware:
        </p>
        {{
          template "shared/boot/buttons.partial.tmpl" dict
          "basePath" .Meta.BasePath
          "redirectTarget" (urlJoin (dict
            "path" .Meta.Path
            "query" .Meta.Form.Encode
          ))
        }}
      </div>
    </section>
  </main>
{{end}}
