{{template "shared/base.layout.tmpl" .}}

{{define "title"}}Remote Access{{end}}
{{define "description"}}Manage configurations for remote access{{end}}

{{define "content"}}
  <main class="main-container" tabindex="-1" data-controller="default-scrollable">
    <nav class="breadcrumb main-breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{.Meta.BasePath}}">Admin</a></li>
        <li class="is-active"><a href="{{.Meta.Path}}" aria-current="page">Remote</a></li>
      </ul>
    </nav>

    <section class="section content">
      <h1>Remote Access</h1>
      <h2>Remote assistance</h2>
      <h2>Remote access agent</h2>
      <p>
        The remote access agent (Tailscale) makes your machine available for remote connections.
      </p>

      <p>
        {{$stateInfo := .Data.State.Info}}
        Status:
        <span class="tag is-{{$stateInfo.Level}}">
          {{if $stateInfo.Details}}
            <abbr title="{{$stateInfo.Details}}">{{$stateInfo.Short}}</abbr>
          {{else}}
            {{$stateInfo.Short}}
          {{end}}
        </span>
      </p>

      <p>
        TODO: add buttons to temporarily and persistently start/stop tailscaled.service!
        (if we've connected to the app using a ts.net DNS name, display a warning that stopping it
        will make the DNS name stop working for us)
      </p>

      <p>
        Connectivity:
        {{if .Data.Online}}
          <span class="tag is-success">
            online
          </span>
        {{else}}
          <span class="tag is-warning">
            offline
          </span>
          (please check your machine's internet connection settings
          <a href="{{.Meta.BasePath}}internet">here</a>)
        {{end}}
      </p>

      <p>TODO: add buttons to log out and log in to the tailnet</p>

      {{if not (eq .Data.NetworkName "")}}
        <p>
          <abbr title="the name of the remote-access network your machine has joined">Network</abbr>:
          {{.Data.NetworkName}}
        </p>
      {{end}}

      {{if not (eq .Data.DNSName "")}}
        <p>
          <abbr title="the DNS name of your machine within the remote-access network">
            Domain name
            {{- /* make template ignore the line break */ -}}
          </abbr>:
          <span class="tag domain-name">{{trimSuffix "." .Data.DNSName}}</span>
        </p>
      {{end}}

      {{if gt (len .Data.IPs) 0}}
        <p>
          <abbr title="the IP addresses of your machine within the remote-access network">
            IP addresses
            {{- /* make template ignore the line break */ -}}
          </abbr>:
          <ul>
            {{range $ipAddr := .Data.IPs}}
              <li>
                <span class="tag ip-address">{{$ipAddr}}</span>
              </li>
            {{end}}
          </ul>
        </p>
      {{end}}
    </section>
  </main>
{{end}}
