{{template "shared/base.layout.tmpl" .}}

{{define "title"}}Remote Access{{end}}
{{define "description"}}Manage configurations for remote access{{end}}

{{define "content"}}
  <main class="main-container" tabindex="-1" data-controller="default-scrollable">
    <nav class="breadcrumb main-breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{.Meta.BasePath}}">Admin</a></li>
        <li class="is-active"><a href="{{.Meta.Path}}" aria-current="page">Remote</a></li>
      </ul>
    </nav>

    <section class="section content">
      <h1>Remote Access</h1>
      <p>TODO: manage Tailscale settings and remote assistance</p>
    </section>
  </main>
{{end}}
