{{template "shared/base.layout.tmpl" .}}

{{define "title"}}Machine Identity{{end}}
{{define "description"}}Manage configurations for machine identity{{end}}

{{define "content"}}
  <main class="main-container" tabindex="-1" data-controller="default-scrollable">
    {{if ne (.Meta.Form.Get "nav") "hidden"}}
      <nav class="breadcrumb main-breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="{{urlJoin (dict
            "path" .Meta.BasePath
            "query" .Meta.Form.Encode
          )}}">Admin</a></li>
          <li class="is-active"><a href="{{urlJoin (dict
            "path" .Meta.Path
            "query" .Meta.Form.Encode
          )}}" aria-current="page">Identity</a></li>
        </ul>
      </nav>
    {{end}}

    <section class="section content">
      <h1>Machine Identity</h1>
      <p>TODO: manage machine name, hostname pattern</p>
    </section>
  </main>
{{end}}
