{{$drive := (get . "Drive")}}

{{if $drive.MediaType}}
  <p>Type: {{$drive.MediaType}}</p>
{{end}}

{{if $drive.Vendor}}
  <p>Vendor: {{$drive.Vendor}}</p>
{{end}}

{{if $drive.Model}}
  <p>Model: {{$drive.Model}}</p>
{{end}}

{{if $drive.FirmwareRev}}
  <p>Firmware revision: {{$drive.FirmwareRev}}</p>
{{end}}

{{if $drive.SerialNum}}
  <p>Serial number: {{$drive.SerialNum}}</p>
{{end}}

{{if $drive.Seat}}
  <p>Seat: {{$drive.Seat}}</p>
{{end}}
