{{$connProfiles := (get . "ConnProfiles")}}
{{$Meta := (get . "Meta")}}

<ul>
  {{range $connProfile := $connProfiles}}
    {{$typeInfo := $connProfile.Type.Info}}
    {{if or
      (eq $typeInfo.Short "bridge")
      (eq $typeInfo.Short "veth")
    }}
      {{continue}}
    {{end}}
    <li>
      <a href="{{urlJoin (dict
        "path" (print $Meta.BasePath "internet/conn-profiles/" $connProfile.UUID)
        "query" $Meta.Form.Encode
      )}}">{{$connProfile.ID}}</a>
    </li>
  {{end}}
</ul>

