{{$ipv4DHCP := (get . "IPv4DHCP")}}
{{$ipv6DHCP := (get . "IPv6DHCP")}}
{{$interface := (get . "Interface")}}
{{$Meta := (get . "Meta")}}

<turbo-frame
  id="internet_devices_{{$interface}}_dhcp-config"
  data-turbo-reload
  refresh="morph"
  {{if (or $ipv4DHCP.HasData $ipv6DHCP.HasData)}}
    data-action="turbo:before-morph-element->showable#show"
  {{else}}
    data-action="turbo:before-morph-element->showable#hide"
  {{end}}
>
  {{if $ipv4DHCP.HasData}}
    <h4>DHCPv4</h4>
    {{
      template "internet/dhcp-config.partial.tmpl" dict
      "DHCPConfig" $ipv4DHCP
    }}
  {{end}}

  {{if $ipv6DHCP.HasData}}
    <h4>DHCPv6</h4>
    {{
      template "internet/dhcp-config.partial.tmpl" dict
      "DHCPConfig" $ipv6DHCP
    }}
  {{end}}
</turbo-frame>
