{{$device := (get . "Device")}}
{{$sections := (get . "Sections")}}
{{$collapseAll := (get . "CollapseAll")}}
{{$Meta := (get . "Meta")}}

{{$interface := or $device.IpInterface $device.ControlInterface}}

<turbo-frame
  id="internet_devices_{{$interface}}"
  refresh="morph"
>
  <article class="panel entity-panel" id="internet_devices_card_{{$interface}}">
    <header class="panel-heading">{{$interface}}</header>

    {{if or (not $sections) (get $sections "basics")}}
      <details
        data-accordion-item
        class="panel-block accordion-item"
        {{if not $collapseAll}}
          open
        {{end}}
      >
        <summary class="accordion-header level">
          Basic status
          {{template "shared/accordion-icon.partial.tmpl" $Meta}}
        </summary>
        <div class="accordion-content">
          {{
            template "internet/device-basics.partial.tmpl" dict
            "Device" $device
            "Interface" $interface
            "Meta" $Meta
          }}
        </div>
      </details>
    {{end}}

    {{if and
      (or (not $sections) (get $sections "conn-profiles"))
    }}
      <details
        data-accordion-item
        class="
          panel-block
          accordion-item
          {{if not (or $device.ActiveConn.HasData (gt (len $device.AvailableConns) 0))}}
            is-hidden
          {{end}}
        "
        {{if not $collapseAll}}
          open
        {{end}}
        data-controller="showable"
      >
        <summary class="accordion-header level">
          Connection profiles
          {{template "shared/accordion-icon.partial.tmpl" $Meta}}
        </summary>
        <div class="accordion-content">
          {{
            template "internet/device-conn-profiles.partial.tmpl" dict
            "ActiveConn" $device.ActiveConn
            "AvailableConns" $device.AvailableConns
            "Interface" $interface
            "Meta" $Meta
          }}
        </div>
      </details>
    {{end}}

    {{if and
      (or (not $sections) (get $sections "wifi"))
    }}
      <details
        data-accordion-item
        class="
          panel-block
          accordion-item
          {{if not $device.Wifi.HasData}}
            is-hidden
          {{end}}
        "
        {{if not $collapseAll}}
          open
        {{end}}
        data-controller="showable"
      >
        <summary class="accordion-header level">
          Wi-Fi
          {{template "shared/accordion-icon.partial.tmpl" $Meta}}
        </summary>
        <div class="accordion-content">
          {{
            template "internet/device-wifi.partial.tmpl" dict
            "Wifi" $device.Wifi
            "Interface" $interface
            "Meta" $Meta
          }}
        </div>
      </details>
    {{end}}

    {{if and
      (or (not $sections) (get $sections "ip-config"))
    }}
      <details
        data-accordion-item
        class="
          panel-block
          accordion-item
          {{if not (or $device.IPv4Config $device.IPv6Config)}}
            is-hidden
          {{end}}
        "
        data-controller="showable"
      >
        <summary class="accordion-header level">
          IP configuration
          {{template "shared/accordion-icon.partial.tmpl" $Meta}}
        </summary>
        <div class="accordion-content">
          {{
            template "internet/device-ip-config.partial.tmpl" dict
            "IPv4Config" $device.IPv4Config
            "IPv6Config" $device.IPv6Config
            "Interface" $interface
            "Meta" $Meta
          }}
        </div>
      </details>
    {{end}}

    {{if and
      (or (not $sections) (get $sections "dns-config"))
    }}
      <details
      data-accordion-item
      class="
        panel-block
        accordion-item
        {{if not (or $device.IPv4Config.DNS.HasData $device.IPv6Config.DNS.HasData)}}
          is-hidden
        {{end}}
      "
        data-controller="showable"
      >
        <summary class="accordion-header level">
          DNS configuration
          {{template "shared/accordion-icon.partial.tmpl" $Meta}}
        </summary>
        <div class="accordion-content">
          {{
            template "internet/device-dns-config.partial.tmpl" dict
            "IPv4DNS" $device.IPv4Config.DNS
            "IPv6DNS" $device.IPv6Config.DNS
            "Interface" $interface
            "Meta" $Meta
          }}
        </div>
      </details>
    {{end}}

    {{if and
      (or (not $sections) (get $sections "dhcp-config"))
    }}
      <details
        data-accordion-item
        class="
          panel-block
          accordion-item
          {{if not (or $device.DHCPv4Config.HasData $device.DHCPv6Config.HasData)}}
            is-hidden
          {{end}}
        "
        data-controller="showable"
      >
        <summary class="accordion-header level">
          DHCP configuration
          {{template "shared/accordion-icon.partial.tmpl" $Meta}}
        </summary>
        <div class="accordion-content">
          {{
            template "internet/device-dhcp-config.partial.tmpl" dict
            "IPv4DHCP" $device.DHCPv4Config
            "IPv6DHCP" $device.DHCPv6Config
            "Interface" $interface
            "Meta" $Meta
          }}
        </div>
      </details>
    {{end}}

    {{if or (not $sections) (get $sections "other")}}
      <details data-accordion-item class="panel-block accordion-item">
        <summary class="accordion-header level">
          Other
          {{template "shared/accordion-icon.partial.tmpl" $Meta}}
        </summary>
        <div class="accordion-content">
          {{
            template "internet/device-other.partial.tmpl" dict
            "Device" $device
            "Meta" $Meta
          }}
        </div>
      </details>
    {{end}}

  </article>
</turbo-frame>
