{{$device := (get . "Device")}}
{{$collapseAll := (get . "CollapseAll")}}
{{$Meta := (get . "Meta")}}

{{$interface := or $device.IpInterface $device.ControlInterface}}
<turbo-frame id="{{$Meta.BasePath}}internet/wifi/devices/{{$interface}}">
  <article class="panel entity-panel" id="device-{{$interface}}">
    <header class="panel-heading">{{$interface}}</header>

    <details
      data-accordion-item
      class="panel-block accordion-item"
      {{if not $collapseAll}}
        open
      {{end}}
    >
      <summary class="accordion-header level">
        Basic status
        {{template "shared/accordion-icon.partial.tmpl"}}
      </summary>
      <div class="accordion-content">
        {{
          template "internet/device-basics.partial.tmpl" dict
          "Device" $device
        }}
      </div>
    </details>

    {{if $device.ActiveConn.HasData}}
      <details data-accordion-item class="panel-block accordion-item">
        <summary class="accordion-header level">
          Connection profiles
          {{template "shared/accordion-icon.partial.tmpl"}}
        </summary>
        <div class="accordion-content">
          {{
            template "internet/device-connections.partial.tmpl" dict
            "ActiveConn" $device.ActiveConn
            "AvailableConns" $device.AvailableConns
          }}
        </div>
      </details>
    {{end}}

    {{if $device.Wifi.HasData}}
      <details data-accordion-item class="panel-block accordion-item">
        <summary class="accordion-header level">
          Wi-Fi
          {{template "shared/accordion-icon.partial.tmpl"}}
        </summary>
        <div class="accordion-content">
          {{
            template "internet/device-wifi.partial.tmpl" dict
            "Wifi" $device.Wifi
          }}
        </div>
      </details>
    {{end}}

    {{if or $device.IPv4Config $device.IPv6Config}}
      <details data-accordion-item class="panel-block accordion-item">
        <summary class="accordion-header level">
          IP configuration
          {{template "shared/accordion-icon.partial.tmpl"}}
        </summary>
        <div class="accordion-content">
          {{if $device.IPv4Config}}
            <h4>IPv4</h4>
            {{
              template "internet/ip-config.partial.tmpl" dict
              "IPConfig" $device.IPv4Config
            }}
          {{end}}

          {{if $device.IPv6Config}}
            <h4>IPv6</h4>
            {{
              template "internet/ip-config.partial.tmpl" dict
              "IPConfig" $device.IPv6Config
            }}
          {{end}}
        </div>
      </details>
    {{end}}

    {{if or $device.IPv4Config.DNS.HasData $device.IPv6Config.DNS.HasData}}
      <details data-accordion-item class="panel-block accordion-item">
        <summary class="accordion-header level">
          DNS configuration
          {{template "shared/accordion-icon.partial.tmpl"}}
        </summary>
        <div class="accordion-content">
          {{if $device.IPv4Config.DNS.HasData}}
            <h4>IPv4</h4>
            {{
              template "internet/dns-config.partial.tmpl" dict
              "DNSConfig" $device.IPv4Config.DNS
            }}
          {{end}}

          {{if $device.IPv6Config.DNS.HasData}}
            <h4>IPv6</h4>
            {{
              template "internet/dns-config.partial.tmpl" dict
              "DNSConfig" $device.IPv6Config.DNS
            }}
          {{end}}
        </div>
      </details>
    {{end}}

    {{if or $device.DHCPv4Config.HasData $device.DHCPv6Config.HasData}}
      <details data-accordion-item class="panel-block accordion-item">
        <summary class="accordion-header level">
          DHCP configuration
          {{template "shared/accordion-icon.partial.tmpl"}}
        </summary>
        <div class="accordion-content">
          {{if $device.DHCPv4Config.HasData}}
            <h4>DHCPv4</h4>
            {{
              template "internet/dhcp-config.partial.tmpl" dict
              "IPConfig" $device.DHCPv4Config
            }}
          {{end}}

          {{if $device.DHCPv6Config.HasData}}
            <h4>DHCPv6</h4>
            {{
              template "internet/dhcp-config.partial.tmpl" dict
              "IPConfig" $device.DHCPv6Config
            }}
          {{end}}
        </div>
      </details>
    {{end}}

    <details data-accordion-item class="panel-block accordion-item">
      <summary class="accordion-header level">
        Other
        {{template "shared/accordion-icon.partial.tmpl"}}
      </summary>
      <div class="accordion-content">
        {{
          template "internet/device-other.partial.tmpl" dict
          "Device" $device
        }}
      </div>
    </details>

  </article>
</turbo-frame>
