{{$wifi := (get . "Wifi")}}
{{$interface := (get . "Interface")}}
{{$Meta := (get . "Meta")}}

<turbo-frame
  id="internet_devices_{{$interface}}_wifi"
  data-turbo-reload
  refresh="morph"
  {{if $wifi.HasData}}
    data-action="turbo:before-morph-element->showable#show"
  {{else}}
    data-action="turbo:before-morph-element->showable#hide"
  {{end}}
>
  <p>
    {{$modeInfo := $wifi.Mode.Info}}
    Mode:
    <span class="tag is-{{$modeInfo.Level}}">
      {{if eq $modeInfo.Short "infrastructure"}}
        <abbr title="this device is an 802.11 client">{{$modeInfo.Short}}</abbr>
      {{else if $modeInfo.Details}}
        <abbr title="{{$modeInfo.Details}}">{{$modeInfo.Short}}</abbr>
      {{else}}
        {{$modeInfo.Short}}
      {{end}}
    </span>
  </p>

  <p>
    <abbr title="active access point">Network</abbr>:
    {{if $wifi.ActiveAP.HasData}}
      {{$wifi.ActiveAP.SSID}}
    {{else}}
      <span class="tag is-warning">none</span>
    {{end}}
  </p>

  <p>
    Capabilities:
    {{if $wifi.Caps.HasNone}}
      <span class="tag is-warning">none</span>
    {{end}}
    {{if $wifi.Caps.SupportsRSN}}
      <span class="tag is-success">
        <abbr title="support for WPA2/RSN authentication">WPA2</abbr>
      </span>
    {{end}}
    {{if $wifi.Caps.Supports2GHz}}
      <span class="tag is-success">
        <abbr title="support for 2.4 GHz frequencies">2.4 GHz</abbr>
      </span>
    {{end}}
    {{if $wifi.Caps.Supports5GHz}}
      <span class="tag is-success">
        <abbr title="support for 5 GHz frequencies">5 GHz</abbr>
      </span>
    {{end}}
    {{if $wifi.Caps.Supports6GHz}}
      <span class="tag is-success">
        <abbr title="support for 6 GHz frequencies">6 GHz</abbr>
      </span>
    {{end}}
    {{if $wifi.Caps.SupportsAP}}
      <span class="tag is-success">
        <abbr title="support for Access Point mode">AP</abbr>
      </span>
    {{end}}
    {{if $wifi.Caps.SupportsCCMP}}
      <span class="tag is-success">
        <abbr title="support for AES/CCMP encryption">AES/CCMP</abbr>
      </span>
    {{end}}
    {{if $wifi.Caps.SupportsAdhoc}}
      <span class="tag is-info">
        <abbr title="support for Ad-Hoc (IBSS) mode">ad-hoc</abbr>
      </span>
    {{end}}
    {{if $wifi.Caps.SupportsMesh}}
      <span class="tag is-info">
        <abbr title="support for acting as an 802.11s mesh point">mesh</abbr>
      </span>
    {{end}}
    {{if $wifi.Caps.SupportsIBSSRSN}}
      <span class="tag is-info">
        <abbr title="support for WPA2/RSN in an IBSS (Ad-Hoc) network">WPA2 IBSS</abbr>
      </span>
    {{end}}
  </p>

  <p>
    <abbr title="time (minutes since boot) of the last finished network scan">Last scan</abbr>:
    {{if eq $wifi.LastScan -1}}
      <span class="tag is-warning">
        <abbr title="device never scanned for access points">never</abbr>
      </span>
    {{else}}
      {{round (divf $wifi.LastScan.Seconds 60) 1}}
    {{end}}
  </p>

  <p>
    <a href="{{urlJoin (dict
      "path" (print $Meta.BasePath "internet/devices/" $interface "/access-points")
      "query" $Meta.Form.Encode
    )}}" target="_top">
      Access points
    </a>
  </p>
</turbo-frame>
