{{$connProfile := (get . "ConnProfile")}}
{{$availableSSIDs := (get . "AvailableSSIDs")}}
{{$Meta := (get . "Meta")}}

{{$conn := $connProfile.Settings.Conn}}
{{$wifi := $connProfile.Settings.Wifi}}
{{$wifiSec := $connProfile.Settings.WifiSec}}

<turbo-frame
  id="internet_external-wifi.frame"
  data-controller="dropdown-textbox"
  data-action="turbo:frame-load->dropdown-textbox#updateSelect"
>

  <turbo-frame
    id="internet_devices_wlan1_access-points.frame"
    data-turbo-reload
    refresh="morph"
    data-action="
      turbo:frame-load->dropdown-textbox#updateSelect
      turbo:morph-element->dropdown-textbox#updateSelect
    "
  >
    <form
      action="{{$Meta.BasePath}}internet/devices/wlan1/access-points"
      method="POST"
      class="is-inline-block mb-3"
      data-controller="form-submission hideable"
      data-action="submit->form-submission#submit"
      data-hideable-target="hider"
    >
      <input type="hidden" name="state" value="refreshed">
      <input type="hidden" name="redirect-target" value="{{urlJoin (dict
        "path" $Meta.Path
        "query" $Meta.Form.Encode
      )}}">
      <div class="field">
        <div class="control" data-form-submission-target="submitter">
          <input
            class="button is-info"
            type="submit"
            value="Rescan networks"
            data-form-submission-target="submit"
          >
        </div>
      </div>
    </form>
    <datalist
      id="internet_devices_wlan1_access-points.datalist"
      data-dropdown-textbox-target="datalist"
    >
      {{range $ssid := $availableSSIDs}}
        {{if not $ssid}}
          {{continue}}
        {{end}}
        <option value="{{$ssid}}"></option>
      {{end}}
    </datalist>
  </turbo-frame>

  <form
    action="{{$Meta.BasePath}}internet/conn-profiles/{{$conn.UUID}}"
    method="POST"
    data-controller="form-submission"
    data-action="submit->form-submission#submit"
  >
    <input type="hidden" name="state" value="simplified-updated">
    <input type="hidden" name="redirect-target" value="{{urlJoin (dict
      "path" $Meta.Path
      "query" $Meta.Form.Encode
    )}}">

    <div class="field">
      <label class="label">Network</label>
      <div class="field">
        <div
          class="control is-hidden"
          data-controller="hideable"
          data-hideable-target="hider"
          data-dropdown-textbox-target="dropdown"
        >
          <div class="select">
            <select
              name="802-11-wireless.ssid"
              data-dropdown-textbox-target="select"
              data-action="change->dropdown-textbox#select"
            >
            </select>
          </div>
        </div>
        <div
          class="control"
          data-dropdown-textbox-target="textbox"
        >
          <p
            class="mt-1 is-hidden"
            data-controller="hideable"
            data-hideable-target="hider"
          >
            Other:
          </p>
          <input
            class="input" type="text"
            name="802-11-wireless.ssid"
            list="{{$Meta.BasePath}}internet/devices/wlan1/access-points/list"
            minlength=1 maxlength=32
            value="{{toString $wifi.SSID}}"
            required
            size=24
            data-dropdown-textbox-target="input"
            data-action="blur->dropdown-textbox#updateSelect"
          >
        </div>
        <p>
          (you can view details about all detected external networks
          <a href="{{urlJoin (dict
            "path" (print $Meta.BasePath "internet/devices/wlan1/access-points")
            "query" $Meta.Form.Encode
          )}}" target="_blank">here</a>)
        </p>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control radios" data-controller="checkable-textbox">
        <label class="radio is-block ml-0">
          <input type="radio"
            name="802-11-wireless-security.key-mgmt"
            value="wpa-psk"
            required
            autocomplete="off"
            class="is-inline-block is-vertical-align-top mt-1"
            {{if not (eq $wifiSec.KeyMgmt "")}}checked{{end}}
            data-checkable-textbox-target="checkable"
            data-action="
              change->checkable-textbox#toggle
              change->checkable-textbox#setPlaceholder
            "
            data-checkable-textbox-placeholder-param="not shown here, for security reasons"
          />
          <div class="is-inline-block is-vertical-align-top">
            <p>Yes:</p>
            <div
              class="field"
              data-controller="password-input"
              data-password-input-target="addons"
            >
              <div class="control">
                <input
                  class="input" type="password"
                  name="802-11-wireless-security.psk"
                  minlength=1
                  placeholder="not shown here, for security reasons"
                  size=30
                  data-password-input-target="input"
                  data-checkable-textbox-target="textbox"
                  data-action="
                    focus->checkable-textbox#edit
                    focus->checkable-textbox#setPlaceholder
                    input->password-input#edit
                  "
                  data-checkable-textbox-placeholder-param="not shown here, for security reasons"
                >
              </div>
              <div class="control">
                <button
                  class="button is-hidden"
                  data-password-input-target="toggler"
                  data-action="click->password-input#toggle:prevent"
                >
                  <span class="icon">
                    <img class="mdi mdi-inactive"
                      src="{{$Meta.BasePath}}{{staticHashed "icons/eye-outline.svg"}}"
                      width="20" height="20"
                      alt="Toggle password visibility"
                    >
                  </span>
                </button>
              </div>
            </div>
          </div>
        </label>
        <label class="radio is-block ml-0">
          <input type="radio"
            name="802-11-wireless-security.key-mgmt"
            value=""
            required
            autocomplete="off"
            {{if eq $wifiSec.KeyMgmt ""}}checked{{end}}
            data-action="
              change->checkable-textbox#toggle
              change->checkable-textbox#setPlaceholder
            "
            data-checkable-textbox-placeholder-param="none"
          />
          No
        </label>
      </div>
    </div>

    <div class="field">
      <label class="label">Automatic connection</label>
      <div class="control radios">
        <label class="radio is-block">
          <input type="radio"
            name="connection.autoconnect"
            value="on"
            required
            autocomplete="off"
            {{if $conn.Autoconnect}}checked{{end}}
          />
          Always connect when available
        </label>
        <label class="radio is-block ml-0">
          <input type="radio"
            name="connection.autoconnect"
            value="off"
            required
            autocomplete="off"
            {{if not $conn.Autoconnect}}checked{{end}}
          />
          Don't automatically connect
        </label>
      </div>
    </div>

    <div class="field" data-form-submission-target="submitter">
      <div class="field is-grouped">
        <div class="control">
          <input
            class="button is-primary"
            type="submit"
            name="update-type"
            value="Save and connect"
            data-form-submission-target="submit"
          >
        </div>
      </div>
    </div>
  </form>

</turbo-frame>
