{{template "shared/base.layout.tmpl" .}}

{{define "title"}}Internet Access{{end}}
{{define "description"}}Manage configurations for internet access{{end}}

{{define "content"}}
  <main class="main-container" tabindex="-1" data-controller="default-scrollable">
    <nav class="breadcrumb main-breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{.Meta.BasePath}}">Admin</a></li>
        <li class="is-active"><a href="{{.Meta.Path}}" aria-current="page">Internet</a></li>
      </ul>
    </nav>

    <section class="section content">
      <h1>Internet Access</h1>
      <p>TODO: manage Wi-Fi settings and internet access sharing</p>
      <article class="message is-info two-card-width">
        <div class="message-body">
          This is a simplified view of your internet settings. If you're an experienced Linux system
          administrator, you can also open the
          <a href="{{.Meta.Path}}?mode=advanced">advanced view</a> of this page.
        </div>
      </article>
    </section>
    <section class="section content">
      <h2 id="wifi">Wi-Fi</h2>
      <p>TODO: make a toggle for whether to automatically connect to the preferred external network</p>
      <h3>External network</h3>
      <p>TODO: report whether a preferred network is registered</p>
      <h4 class="is-inline">Detected networks</h4>
      <turbo-frame id="{{.Meta.BasePath}}internet/wifi/networks">
        <form
          action="{{.Meta.BasePath}}internet/devices/wlan0/access-points"
          method="POST"
          data-controller="form-submission"
          data-action="submit->form-submission#submit"
          class="mt-4"
        >
          <input type="hidden" name="state" value="refreshed">
          <input type="hidden" name="redirect-target" value="{{.Meta.Path}}">
          <div class="field">
            <div class="control" data-form-submission-target="submitter">
              <input
                class="button is-primary"
                type="submit"
                value="Rescan networks"
                data-form-submission-target="submit"
              >
            </div>
          </div>
        </form>
        <div class="block mb-5">
          {{
            template "internet/access-points-list.partial.tmpl" dict
            "AvailableSSIDs" .Data.AvailableSSIDs
          }}
        </div>
      </turbo-frame>
      <h4>Preferred network</h4>
      <p>TODO: make a form to set details about the preferred network</p>
      <h3 id="wifi-devices">Devices</h3>
      {{range $device := .Data.WifiDevices}}
        {{
          template "internet/device-card.partial.tmpl" dict
          "Device" $device
          "Sections" (dict "basics" true)
          "CollapseAll" false
          "Meta" $.Meta
        }}
      {{end}}
    </section>
    <section class="section content">
      <h2 id="ethernet">Ethernet</h2>
      <h3 id="ethernet-devices">Devices</h3>
      {{range $device := .Data.EthernetDevices}}
        {{
          template "internet/device-card.partial.tmpl" dict
          "Device" $device
          "Sections" (dict "basics" true)
          "CollapseAll" false
          "Meta" $.Meta
        }}
      {{end}}
    </section>
  </main>
{{end}}
