{{template "shared/base.layout.tmpl" .}}

{{define "title"}}Internet Access{{end}}
{{define "description"}}Manage configurations for internet access{{end}}

{{define "content"}}
  <main class="main-container" tabindex="-1" data-controller="default-scrollable">
    <nav class="breadcrumb main-breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{.Meta.BasePath}}">Admin</a></li>
        <li class="is-active"><a href="{{.Meta.Path}}" aria-current="page">Internet</a></li>
      </ul>
    </nav>

    <section class="section content">
      <h1>Internet Access</h1>
      <p>TODO: manage Wi-Fi settings and internet access sharing</p>
    </section>
    <section class="section content">
      <h2>Wi-Fi</h2>
      <p>TODO: make a toggle for whether to automatically connect to the preferred external network</p>
      <h3>External network</h3>
      <p>TODO: report whether a preferred network is registered</p>
      <h4 class="is-inline">Detected networks</h4>
      <turbo-frame id="{{.Meta.BasePath}}internet/wifi/networks">
        <form
          action="{{.Meta.BasePath}}internet/wifi/networks"
          method="POST"
          data-controller="form-submission"
          data-action="submit->form-submission#submit"
          class="mt-4 mb-3"
        >
          <input type="hidden" name="state" value="refreshed">
          <div class="field">
            <div class="control" data-form-submission-target="submitter">
              <input
                class="button is-primary"
                type="submit"
                value="Rescan networks"
                data-form-submission-target="submit"
              >
            </div>
          </div>
        </form>
        <div class="table-container block mb-5">
          {{
            template "internet/access-points-table.partial.tmpl" dict
            "AvailableSSIDs" .Data.AvailableSSIDs
            "AvailableAPs" .Data.AvailableAPs
          }}
        </div>
      </turbo-frame>
      <h4>Preferred network</h4>
      <p>TODO: make a form to set details about the preferred network</p>
      <h3>Devices</h3>
      {{range $device := .Data.WifiDevices}}
        {{
          template "internet/device-card.partial.tmpl" dict
          "Device" $device
          "CollapseAll" false
          "Meta" $.Meta
        }}
      {{end}}
    </section>
    <section class="section content">
      <h2>Ethernet</h2>
      <h3>Devices</h3>
      {{range $device := .Data.EthernetDevices}}
        {{
          template "internet/device-card.partial.tmpl" dict
          "Device" $device
          "CollapseAll" false
          "Meta" $.Meta
        }}
      {{end}}
    </section>
    <section class="section content">
      <h2>Other network devices</h2>
      <p>
        Note: "bridge" and "<abbr title="virtual Ethernet">veth</abbr>" devices are excluded
        from this list.
      </p>
      {{range $device := .Data.OtherDevices}}
        {{$interface := or $device.IpInterface $device.ControlInterface}}
        {{$typeInfo := $device.Type.Info}}
        {{if or
          (eq $typeInfo.Short "bridge")
          (eq $typeInfo.Short "veth")
        }}
          {{continue}}
        {{end}}
        {{
          template "internet/device-card.partial.tmpl" dict
          "Device" $device
          "CollapseAll" true
          "Meta" $.Meta
        }}
      {{end}}
    </section>

    <section class="section content">
    <h2>Connection profiles</h2>
    <ul>
      {{range $connProfile := .Data.ConnProfiles}}
        <li>
          <a href="{{$.Meta.Path}}/connection-profiles/{{$connProfile.UUID}}">{{$connProfile.ID}}</a>
        </li>
      {{end}}
    </ul>
  </main>
{{end}}
