<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{block "description" .}}{{end}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#556b2f">
  <meta name="action-cable-url" content="{{.Meta.BasePath}}cable">

  <title>{{block "title" .}}{{end}} | Machine Administration</title>

  <style type="text/css">{{.Inlines.CSS.BundleEager}}</style>
  {{$themeOverride := .Meta.Form.Get "theme"}}
  <noscript>
    {{if eq $themeOverride "dark"}}
      <link rel="stylesheet" href="{{.Meta.BasePath}}{{appHashed "theme-dark.css"}}">
    {{else}}
      <link rel="stylesheet" href="{{.Meta.BasePath}}{{appHashed "theme-light.css"}}">
    {{end}}
  </noscript>
  <link
    id="light-theme"
    as="style"
    rel="preload"
    href="{{.Meta.BasePath}}{{appHashed "theme-light.css"}}"
  >
  <link
    id="dark-theme"
    as="style"
    rel="preload"
    href="{{.Meta.BasePath}}{{appHashed "theme-dark.css"}}"
  >
  <script>
    {{if eq $themeOverride "dark"}}
      {{.Inlines.JS.BundleEagerOverrideDark}}
    {{else if eq $themeOverride "light"}}
      {{.Inlines.JS.BundleEagerOverrideLight}}
    {{else}}
      {{.Inlines.JS.BundleEager}}
    {{end}}
  </script>
  {{if ne (.Meta.Form.Get "nav") "hidden"}}
    {{block "nav/navbar.assets" .}}{{end}}
  {{end}}
  <!-- crossorigin is needed to preload fonts correctly -->
  <link
    rel="preload"
    as="font"
    type="font/woff2"
    href="{{.Meta.BasePath}}fonts/atkinson-hyperlegible-latin-400-normal.woff2"
    crossorigin
  >
  <link
    rel="preload"
    as="font"
    type="font/woff2"
    href="{{.Meta.BasePath}}fonts/atkinson-hyperlegible-latin-700-normal.woff2"
    crossorigin
  >
  <link rel="preload" as="script" href="{{.Meta.BasePath}}{{appHashed "bundle-deferred.js"}}">
  <link rel="icon" href="{{.Meta.BasePath}}{{staticHashed "icon.png"}}" type="image/png">
  <link rel="icon alternate" href="{{.Meta.BasePath}}favicon.ico" size="any">
  <link rel="apple-touch-icon" href="{{.Meta.BasePath}}{{staticHashed "apple-touch-icon.png"}}">
  <!-- TODO: add shortcuts to the web application manifest -->
  <link rel="manifest" href="{{.Meta.BasePath}}app/app.webmanifest">
  <script defer src="{{.Meta.BasePath}}{{appHashed "bundle-deferred.js"}}" data-turbo-track="reload"></script>
  <meta name="turbo-root" content="{{.Meta.BasePath}}">
</head>

<body>
  {{if eq (.Meta.Form.Get "nav") "hidden"}}
    <div class="main-window">
      {{block "content" .}}{{end}}
    </div>
  {{else}}
    <div class="main-window is-flex is-flex-direction-column-touch is-flex-direction-row-desktop">
      {{block "nav/navbar" .}}{{end}}
      {{block "content" .}}{{end}}
    </div>
  {{end}}
</body>
</html>
