{{$name := (get . "Name")}}
{{$basePath := (get . "BasePath")}}

<turbo-cable-stream-source
  cable-route={{print $basePath "cable"}}
  channel="Turbo::StreamsChannel"
  name="{{$name}}"
  integrity="{{signTurboStream $name}}"
  websocket-subprotocol="actioncable-v1-json"
>
</turbo-cable-stream-source>
