{{template "shared/base.layout.tmpl" .}}

{{define "title"}}Access points | {{.Data.Interface}} | Devices | Internet Access {{end}}
{{define "description"}}View available access points for device {{.Data.Interface}}{{end}}

{{define "content"}}
  <main class="main-container" tabindex="-1" data-controller="default-scrollable">
    {{if ne (.Meta.Form.Get "nav") "hidden"}}
      <nav class="breadcrumb main-breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="{{urlJoin (dict
            "path" .Meta.BasePath
            "query" .Meta.Form.Encode
          )}}">Admin</a></li>
          <li><a href="{{urlJoin (dict
            "path" (print .Meta.BasePath "internet")
            "query" .Meta.Form.Encode
          )}}" aria-current="page">Internet</a></li>
          <li><a href="{{urlJoin (dict
            "path" (print .Meta.BasePath "internet")
            "query" .Meta.Form.Encode
            "fragment" "internet_wifi_devices"
          )}}" aria-current="page">Devices</a></li>
          <li><a href="{{urlJoin (dict
            "path" (print .Meta.BasePath "internet")
            "query" .Meta.Form.Encode
            "fragment" (print "internet_devices_card_" .Data.Interface)
          )}}" aria-current="page">{{.Data.Interface}}</a></li>
          <li class="is-active"><a href="{{urlJoin (dict
            "path" .Meta.Path
            "query" .Meta.Form.Encode
          )}}" aria-current="page">Access points</a></li>
        </ul>
      </nav>
    {{end}}

    <section class="section content">
      <h1>Access points for {{.Data.Interface}}</h1>
      <turbo-frame id="internet_devices_{{.Data.Interface}}_access-points">
        <form
          action="{{.Meta.BasePath}}internet/devices/{{.Data.Interface}}/access-points"
          method="POST"
          data-controller="form-submission"
          data-action="submit->form-submission#submit"
          class="mt-4 mb-3"
        >
          <input type="hidden" name="state" value="refreshed">
          <input type="hidden" name="redirect-target" value="{{urlJoin (dict
            "path" .Meta.Path
            "query" .Meta.Form.Encode
          )}}">
          <div class="field">
            <div class="control" data-form-submission-target="submitter">
              <input
                class="button is-primary"
                type="submit"
                value="Rescan"
                data-form-submission-target="submit"
              >
            </div>
          </div>
        </form>
        <div class="table-container block mb-5">
          {{
            template "internet/devices/access-points/table.partial.tmpl" dict
            "AvailableSSIDs" .Data.AvailableSSIDs
            "AvailableAPs" .Data.AvailableAPs
            "Columns" (dict
              "ssid" ""
              "strength" ""
              "frequency" ""
              "mode" ""
              "security" ""
              "last-seen" ""
            )
          }}
        </div>
      </turbo-frame>
    </section>
  </main>
{{end}}
